<div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
  <form [formGroup]="movieForm">
    <label class="genres-title">Filter by genres:</label>
    <select (change)="filterByName()" formControlName="friendControl">
      <option [value]="option" *ngFor="let option of options">
        {{ option }}
      </option>
    </select>
  </form>

  <clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Director</clr-dg-column>
    <clr-dg-column>Genre</clr-dg-column>
    <clr-dg-row
      *ngFor="let movie of filteredMovies"
      (click)="onClick(movie.id)"
    >
      <clr-dg-cell>{{ movie.id }}</clr-dg-cell>
      <clr-dg-cell>{{ movie.name }}</clr-dg-cell>
      <clr-dg-cell>{{ movie.director }}</clr-dg-cell>
      <clr-dg-cell>{{ movie.genres }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ filteredMovies.length }} movies</clr-dg-footer>
  </clr-datagrid>
</div>
